{% extends "layout.html" %}

{% block content %}
<h1>Login</h1>
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    <div>
        {{ form.email.label }}
        {{ form.email(size=32) }}
        {{ form.email.errors[0] if form.email.errors }}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password(size=32) }}
        {{ form.password.errors[0] if form.password.errors }}
    </div>
    <div>
        {{ form.remember_me() }} {{ form.remember_me.label }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
<p><a href="{{ url_for('auth.reset_password_request') }}">Forgot password?</a></p>
<p><a href="{{ url_for('auth.register') }}">Register</a></p>
{% endblock %}
