{% extends "layout.html" %}

{% block content %}
<h1>Register</h1>
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    <div>
        {{ form.email.label }}
        {{ form.email(size=32) }}
        {{ form.email.errors[0] if form.email.errors }}
    </div>
    <div>
        {{ form.first_name.label }}
        {{ form.first_name(size=32) }}
        {{ form.first_name.errors[0] if form.first_name.errors }}
    </div>
    <div>
        {{ form.last_name.label }}
        {{ form.last_name(size=32) }}
        {{ form.last_name.errors[0] if form.last_name.errors }}
    </div>
    <div>
        {{ form.password.label }}
        {{ form.password(size=32) }}
        {{ form.password.errors[0] if form.password.errors }}
    </div>
    <div>
        {{ form.confirm_password.label }}
        {{ form.confirm_password(size=32) }}
        {{ form.confirm_password.errors[0] if form.confirm_password.errors }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
<p><a href="{{ url_for('auth.login') }}">Already have an account? Log in</a></p>
{% endblock %}
