{% extends "layout.html" %}

{% block content %}
<h1>Reset Password</h1>
<form method="post" novalidate>
    {{ form.hidden_tag() }}
    <div>
        {{ form.password.label }}
        {{ form.password(size=32) }}
        {{ form.password.errors[0] if form.password.errors }}
    </div>
    <div>
        {{ form.confirm_password.label }}
        {{ form.confirm_password(size=32) }}
        {{ form.confirm_password.errors[0] if form.confirm_password.errors }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
<p><a href="{{ url_for('auth.login') }}">Back to login</a></p>
{% endblock %}
